<div class="card mt-2" *ngIf="processingServiceInstalled | async as installed; else loading">
    <div class="card-body">
        <div class="callout callout-primary">
            <h4>AppFlow WebApp Demonstrator</h4>
            <p>This application is designed to help developers get started with the AppFlow payment initiation API for web based applications.</p>
            <p>The application uses the appflow-payment-initiation-api and the appflow-cordova-plugin which are both available on npm.</p>
            <p>The code for the application is written in Typescript and makes use of the Angular 8 framework.</p>
            <p>The Flow Processing Service (FPS) must be installed on this device before any of the functionality can be used. If FPS is installed you will see the current version number below.</p>
            <p>The application source can be found on github <a href="https://github.com/AEVI-AppFlow/demo-cordova-webapp">https://github.com/AEVI-AppFlow/demo-cordova-webapp</a>.</p>
            <p>A bares bones simulated version of the application can also be run directly in the browser where responses from FPS are mocked by the cordova plugin for the browser platform.</p>
        </div>
        <div class="callout callout-success">
            <h4 class="card-title">AppFlow Version: {{apiVersion | async}}</h4>
            <p>FPS Version: {{processingServiceVersion | async}}</p>
        </div>
        <div class="callout" *ngIf="paymentSettings | async as ps">
            <h4 class="card-title">Installed Flow Configurations</h4>
            <ul>
                <li *ngFor="let flowConfig of ps.flowConfigurations.flowConfigurations">{{flowConfig.name}}</li>
            </ul>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="card mt-2">
        <div class="card-body">
            <div class="callout callout-danger">
                <h5>ERROR</h5>
                <p>FPS NOT INSTALLED!!</p>
            </div>
        </div>
    </div>
</ng-template>
