<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex w-100 justify-content-between">Split response timeout: <strong>{{fpsSettings.splitResponseTimeoutSeconds}} seconds</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Payment response timeout: <strong>{{fpsSettings.paymentResponseTimeoutSeconds}} seconds</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Flow response timeout: <strong>{{fpsSettings.flowResponseTimeoutSeconds}} seconds</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Status update timeout: <strong>{{fpsSettings.statusUpdateTimeoutSeconds}} seconds</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Split response timeout: <strong>{{fpsSettings.splitResponseTimeoutSeconds}} seconds</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Merchant selection timeout: <strong>{{fpsSettings.appOrDeviceSelectionTimeoutSeconds}} seconds</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Allow currency conversion: <strong>{{fpsSettings.isCurrencyChangeAllowed}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Multi-device enabled: <strong>{{fpsSettings.isMultiDevice}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Filter servcies by flow type: <strong>{{fpsSettings.filterServicesByFlowType}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Always allow PRE_FLOW: <strong>{{fpsSettings.alwaysCallPreFlow}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Always allow dynamic select: <strong>{{fpsSettings.alwaysAllowDynamicSelect}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Allow access via status bar: <strong>{{fpsSettings.allowAccessViaStatusBar}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Enable legacy payment apps: <strong>{{fpsSettings.legacyPaymentAppsEnabled}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Abort on flow app error: <strong>{{fpsSettings.shouldAbortOnFlowAppError}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Abort on payment app error: <strong>{{fpsSettings.shouldAbortOnPaymentError}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Database row limit: <strong>{{fpsSettings.databaseRowLimit}}</strong></li>
    <li class="list-group-item d-flex w-100 justify-content-between">Filter services by flow type: <strong>{{fpsSettings.filterServicesByFlowType}}</strong></li>
</ul>
