<div *ngIf="basket">
    <h5>{{title}}<span *ngIf="title">&nbsp;-&nbsp;</span>{{basket.basketName}}</h5>
    <div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let basketItem of basket.displayItems">
                <td>{{basketItem.quantity}}</td>
                <td>{{basketItem.label}}</td>
                <td>{{basketItem.currency}}{{basketItem.amount/100 | currency : currency }} </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td>&nbsp;</td>
                <td>Total</td>
                <td><av-amount-format [amount]="basket.getTotalBasketValue()" [currency]="currency"></av-amount-format></td>
            </tr>
        </tfoot>
    </table>
    </div>
</div>
